<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, perferendis a dicta asperiores harum doloremque quis hic ipsa deserunt ducimus molestiae quibusdam! Labore, beatae aut repellat eligendi nulla ipsa cum incidunt unde, facere porro saepe amet nam quis. Libero id neque at praesentium iure nulla, inventore nostrum velit ipsam alias facilis eos quidem sunt dolorem magni commodi enim et cupiditate quis nesciunt quod. Architecto mollitia repellendus sint alias amet est numquam debitis exercitationem dolorem ut suscipit, ducimus sequi delectus modi corporis culpa eum iure porro minus illum doloribus ipsa ad pariatur. Illum odio dolores sit maiores doloribus, ullam iure odit fugiat, optio quod rem reiciendis esse recusandae temporibus necessitatibus suscipit! Nesciunt odit odio veritatis quasi recusandae totam sapiente quis temporibus. Doloremque laudantium non pariatur obcaecati repudiandae tenetur, optio in minus eligendi nihil maxime distinctio error. Quam dolorum dolor molestias omnis aliquam neque possimus ad! Molestias porro animi commodi ipsum aliquid!</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>